-var $t = '2109'
-var ur = '..'
-var ur = 'https://xpj.imagebei.com/hd/app_download'
html
    head
        meta( charset='utf-8')
        meta(name='viewport', content='maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0')
        meta(name="format-detection" content="telephone=no")
        link(rel='stylesheet', href='#{ur}/css/app.css?v#{$t}')
        title 澳门新葡京APP下载
        script(type='text/javascript' src="#{ur}/js/jquery.min.js")
        script(type='text/javascript' src="#{ur}/js/com.js?v#{$t}")

    body
        .butterbar
            .bar
        .ios_btn(onclick="$('body').addClass('show_pop')") 安装教程
        .ios_pop

        .dom(onclick="down()")
            .img_bg
            .bg
            .icon

            .sj
            .update

                h1 澳门新葡京
                h2 只为非同凡享
                a.btn 下载安装

            .code_box
                h3 请用手机扫码下载
                .box

        script(src="https://s5.cnzz.com/z_stat.php?id=1276093343&web_id=1276093343")

